<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Inventory App Javascript</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
		
<body ng-app="InventoryApp">	

<div class="wrapAll" ng-controller="MainCtrl">

	<div class="nav-side-menu">
	    <div class="brand">Squish Flabs</div>
	    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content" ></i>
	  
    	
        <ul class=" menu-content" id="accordion">

            <li class="panel active" data-toggle="collapse" data-parent="#accordion" data-target="#firstLink" ui-sref="products"> Products
                <ul id="firstLink" class="sub-menu collapse">
                    <li data-toggle="modal" data-target="#productModal">Add Product</li>
                    <li data-toggle="modal" 
                    data-target="#mergeModal">Merge Products</li>
                </ul>
            </li>

            <li class="panel active" data-toggle="collapse" data-parent="#accordion" data-target="#secondLink" ui-sref="orders"> Orders
                <ul id="secondLink" class="sub-menu collapse">
                    <li>Create Order</li>
                </ul>
            </li>

            <li class="panel active" data-toggle="collapse" data-parent="#accordion" data-target="#thirdLink" ui-sref="contacts"> Contacts
                <ul id="thirdLink" class="sub-menu collapse">
                    <li>Add Contact</li>
                </ul>
            </li>

        </ul>
	</div>

	<ui-view></ui-view>

<!-- ADD PRODUCT MODAL -->

			<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Add Products</h4>
			      </div>
			      <form class="form-group" ng-submit="productAdd()">
				      <div class="modal-body">
						<div class="form-group">
							<input type="text" ng-model="newProd.name" class="form-control" placeholder="Product Name" autofocus="">
						</div>
						<div class="form-group">
							<input type="text" ng-model="newProd.price" class="form-control" placeholder="Price">
						</div>
						<div class="form-group">
							<input type="tel" ng-model="newProd.img" class="form-control" placeholder="Add Image (must be hosted URL)">
						</div>
				      </div>

				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					    <input type="submit" value="Save" class="btn btn-primary"></input>
				      </div>
			       	</form>
			    </div>
			  </div>
			</div>



<!-- ORDER MODALS -->


<!-- 			<div ng-controller='ViewOrder' class='modal fade' id='viewOrderModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
			  <div class='modal-dialog' role='document'>
			    <div class='modal-content'>
			      <div class='modal-header'>
			        <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
			        <h4 class='modal-title' id='myModalLabel'>Order</h4>
			      </div>
				      <div class='modal-body'>

				      </div>

				      <div class='modal-footer'>
				        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
					    <input type='submit' value='Save' class='btn btn-primary'></input>
				      </div>
			    </div>
			  </div>
			</div> -->



	<!-- 		<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Add Products</h4>
			      </div>
			      <form class="form-group" ng-submit="productAdd()">
				      <div class="modal-body">
						<div class="form-group">
							<input type="text" ng-model="newProd.name" class="form-control" placeholder="Product Name" autofocus="">
						</div>
						<div class="form-group">
							<input type="text" ng-model="newProd.price" class="form-control" placeholder="Price">
						</div>
						<div class="form-group">
							<input type="tel" ng-model="newProd.img" class="form-control" placeholder="Add Image (must be hosted URL)">
						</div>
				      </div>

				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					    <input type="submit" value="Save" class="btn btn-primary"></input>
				      </div>
			       	</form>
			    </div>
			  </div>
			</div> -->


	<!-- MERGE MODAL -->
<!-- 			<div class="modal fade" id="mergeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Merge Products</h4>
			      </div>
			      <form class="form-group" ng-submit="productAdd()">
				      <div class="modal-body">
						<div class="form-group">
							<input type="text" ng-model="newProd.name" class="form-control" placeholder="Product Name" autofocus="">
						</div>
						<div class="form-group">
							<input type="text" ng-model="newProd.price" class="form-control" placeholder="Price">
						</div>
						<div class="form-group">
							<input type="tel" ng-model="newProd.img" class="form-control" placeholder="Add Image (must be hosted URL)">
						</div>
				      </div>
				      
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					    <input type="submit" value="Save" class="btn btn-primary"></input>
				      </div>
			       	</form>
			    </div>
			  </div>
			</div> -->


</div>

<!-- SCRIPT -->


<!-- OTHER -->

	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>

	<script type="text/javascript" src="js/main.js"></script>	
	
</body>
</html>